@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

body {
    font-family: "Noto Sans KR", sans-serif;
    color: #222;
    font-size: 16px;
    font-weight: 400;
}

/* header */
.header {
    display: flex;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 60px;
}

.logo {
    margin-right: auto;
}

.header .gnb {
    display: flex;
}

.gnb a {
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 50px;
}

.gnb a.on {
    color: #0084BC;
}

.user {
    margin-left: 50px;
}

.user button {
    width: 66px;
    height: 32px;
    border-radius: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #0084BC;
}

/* slider */
.slider {
    position: relative;
    margin-bottom: 135px;
}

.slide {
    height: 650px;
    position: relative;
}

.slide .texts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.slide .texts h3 {
    font-size: 36px;
    font-weight: 700;
    color: #333;
}

.slide .texts h2 {
    font-size: 96px;
    font-weight: 700;
    margin-bottom: 16px;
}

.slide .texts p {
    font-size: 14px;
    color: #666;
}


.slideArrowws {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.slideArrowws img {
    width: 46px;
}

.prev {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translate(-50%);
}

.next {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translate(-50%);
}

/* contents */
.contents {
    width: 1170px;
    margin: 0 auto;
}

/* banner */
.banner {
    display: flex;
    justify-content: center;
    margin-bottom: 135px;
}

.banner .bTexts {
    padding-top: 63px;
    padding-left: 30px;
}

.banner .bTexts h2 {
    width: 380px;
    margin-bottom: 19px;
    font-weight: 700;
    font-size: 56px;
    color: #3a3a3a;
}

.banner .bTexts p {
    width: 505px;
    margin-bottom: 70px;
    font-size: 14px;
    color: #3a3a3a;
}

.banner .bTexts .btns button{
    width: 160px;
    height: 50px;
    color: #fff;
    background-color: #222;
    margin-right: 19px;
    cursor: pointer;
}

.banner .bImg {
    margin-left: auto;
}

/* gallery */
.gallery {}

.gallery .gTexts {
    display: flex;
    justify-content: space-between;
}

.gallery .gTexts .gTitle h3 {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 10px;
}

.gallery .gTexts .gTitle p {
    font-size: 16px;
    color: #4b4b4b;
    margin-bottom: 30px;
}

.gallery .gTexts .gImgs ul {
    display: flex;
    flex-wrap: wrap;
}

.gallery .gTexts .gImgs li {
    display: flex;
    width: 570px;
}